<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h4>
        <%= errorMessage %>
    </h4>
    <form action="/register" method="post">
        <label for="name">Name</label>
        <input type="text" value="<%= oldInput.name %>" name="name" id="name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= oldInput.email %>">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="<%= oldInput.password %>">
        <label for="pass">Confirm Password</label>
        <input type="password" name="pass" id="pass" value="<%= oldInput.pass %>">
        <button type="submit">Register</button>
    </form>
</body>

</html>